/* h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
img{
    width: 500px;
    height: 350px;
    border: 5px solid red;
    padding: 4px;
    display: block;
    margin: auto;
}
p{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
    font-weight: 400;
    font-style: normal;
}
div{
    width: 50%;
    margin-left: 25%;
}
body{
    background-color: black;
} */
body {
    background-color: black;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  .sarcastic-img {
    border: 5px solid white;
    width: 100%;
  }
  
